{
  "openapi": "3.0.3",
  "info": {
    "title": "Decision Center AI Advisor API",
    "description": "API to interact with Decision Center's AI advisor expert for Omani banking, project finance, and restructuring consulting.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.dcenterfe.com"
    }
  ],
  "paths": {
    "/api/chat": {
      "post": {
        "summary": "Send a chat message to the advisor",
        "operationId": "chatWithAdvisor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": { "type": "string", "enum": ["user", "ai"] },
                        "text": { "type": "string" }
                      },
                      "required": ["role", "text"]
                    }
                  },
                  "locale": { "type": "string", "enum": ["en", "ar"] }
                },
                "required": ["messages"]
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful advisory response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "text": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
